body {
  background-image: url("./images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela Round", sans-serif;
}
h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 72px;
  margin: 50px;
}
.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.promotion {
  height: 650px;
  background-color: #fff;
  position: relative;
  transition: height .4s;
  overflow: hidden;
}
.promotion.hide {
  height: 0;
}
.promotion .swiper-container {
  width: calc(600px * 3 + 20px);
  height: 500px;
  position: absolute;
  top: 23px;
  left: 50%;
  margin-left: calc((600px * 3 + 20px) / -2);
}
.promotion .swiper-slide {
  opacity: .5;
  transition: opacity 1s;
  position: relative;
}
.promotion .swiper-slide-active {
  opacity: 1;
}
.promotion .swiper-pagination {
  top: 630px;
  bottom: 40px;
  left: 0;
  right: 0;
}
.promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url("./images/promotion_slide_pager.png");
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}
.promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("./images/promotion_slide_pager_on.png");
}
.promotion .swiper-prev,
.promotion .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center; /* 수평가운데라는 뜻 */
  align-items: center; /* 수직가운데라는 뜻 */
  transition: .4s;
}
.promotion .swiper-prev {
  left: 56%;
  margin-left: -480px;
}
.promotion .swiper-next {
  right: 56%;
  margin-right: -480px;
}
.promotion .swiper-prev:hover,
.promotion .swiper-next:hover {
  background-color: #333;
  color: #fff;
}
